.product-container {
    background-color: #D34735;
    width: 425px;
    display: flex;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
}

.product-image {
    height: 150px;
    width: 225px;
    object-fit: cover;
}

.product-data-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 5px;
}

.product-info h4 {
    margin: 0;
    margin-bottom: 2px;
    font-size: 18px;
    font-weight: 400;
}

.product-info h5 {
    margin: 0;
    font-weight: 400;
}

.product-buttons {
    display: flex;
    justify-content: space-between;
}

.product-button {
    border: none;
    color: black;
    background-color: #3AD886;
    padding: 5px 8px;
    border-radius: 5px;
}